* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-principal: "Cormorant Infant", serif;
    --font-secundaria: "Leckerli One", cursive;
    --color-Cinza-Chumbo: #334155;
    --color-Rosa-Queimado: #c08497;
    --color-Off-White: #FAF9F6;
}

body {
    font-family: var(--font-principal);
    background-image: url(./assets/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.wrapper {
    padding: 0 2rem;
    margin: 2rem 1rem;
    background-color: #c08497c5;
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    gap: 1rem;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 3rem;
}

footer {
    text-align: center;
    padding: .8rem 0;
    background-color: var(--color-Off-White);
}

footer p {
    font-size: .8rem;
}

.logo-container {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
}

.rules-container,
.how-play-container,
.playing-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.playing-container {
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: var(--color-Off-White);
    color: var(--color-Cinza-Chumbo);
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.3);
}

.gestures-container {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.btn-gestures,
.btn-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-Cinza-Chumbo);
    transition: background-color 0.5s ease;
}

.score-container {
    border: 2px solid var(--color-Off-White);
    gap: .5rem;
    border-radius: 10px;
    padding: .5rem .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--font-secundaria);
    font-size: 2rem;
    font-weight: 500;
    padding: 0 .5rem;
    color: var(--color-Off-White);
    letter-spacing: 0.1rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.8rem;
    font-family: var(--font-secundaria);
    padding-bottom: 1rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: .1rem;
    color: var(--color-Cinza-Chumbo);
    text-shadow: 2px 2px #fff;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-Cinza-Chumbo);
    padding: .2rem;
    text-align: center;
    align-self: center;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.5rem;
}

a:hover {
    text-decoration: underline;
}

footer a {
    font-size: .8rem;
    padding: .1rem;
}

.logo {
    width: 3.5rem;
    border: 1px solid var(--color-Off-White);
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-Cinza-Chumbo);
}

.btn-reset:hover {
    color: var(--color-Off-White);
}

.menu-btn-container {
    margin: 0 auto;
    padding: 1rem 0;
}

.btn-menu {
    border: 1px solid var(--color-Off-White);
    background: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    transition: background-color 0.5s ease;
}

.btn-menu:hover {
    background-color: var(--color-Rosa-Queimado);
}

.menu-icon {
    width: 3.5rem;
}

.list-menu-container {
    list-style-type: none;
    display: none;
}

.list-menu-container a {
    transition: color 0.4s ease;
}

.list-menu-container a:hover {
    color: #fff;
}

.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    flex-direction: column;
    background-color: var(--color-Rosa-Queimado);
    border-radius: 20px;
}

@media screen and (min-width: 768px) {

    body {
        background-image: url(./assets/bg-desktop.png);
    }

    .wrapper {
        max-width: 700px;
        margin: 2rem auto;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p,
    a {
        font-size: 2rem;
    }

    .logo {
        width: 5rem;
    }

    footer p,
    footer a {
        font-size: 1.5rem;
    }

    .rules-container,
    .how-play-container,
    .playing-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
    }

    .rules-container h2,
    .text-rules,
    .rules-container a,
    .how-play-container h2,
    .how-play-container a,
    .vencedor,
    .playing-container h2,
    .playing-container a,
    .btn-reset {
        grid-column: 1/-1;
        max-width: 100%;
        max-height: 100%;
    }

    .card {
        justify-content: center;
    }

    .btn-reset {
        justify-self: center;
    }

    .gestures-container {
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .btn-gestures {
        font-size: 4rem;
    }

    .btn-reset {
        font-size: 2rem;
    }

    footer {
        padding: 1rem;
    }

}

@media screen and (min-width: 1024px) {

    .wrapper {
        max-width: 800px;
        margin: 2rem auto;
    }

    .menu-btn-container {
        display: none;
    }

    .list-menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 0.5rem;
        text-shadow: 0px 0px 10px #fff;
    }
}